<mat-card class="fondo">
  <mat-card-header class="">
    <div class="grid grid-cols-2 header">
      <h2 class="titulo justify-self-start">Listado de usuarios</h2>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="card">
      <mat-table matSort [dataSource]="dataSource" class="mb-3">
        <!-- username Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Nombre de usuario</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Nombre</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Email</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>

        <!-- role Column -->
        <ng-container matColumnDef="role">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Rol</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <mat-select
              [ngClass]="editable ? '' : 'select'"
              [disabled]="!editable"
              [(value)]="element.role._id"
            >
              <mat-option value="64f1f60e918724a5f931d909">
                Usuario
              </mat-option>
              <mat-option value="64d3cdd575d7a2df083079bd">
                Administrador
              </mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>

        <!-- Password Column -->
        <ng-container matColumnDef="password">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Contraseña
          </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index">
            <div class="contenedor flex" [formGroup]="userForm">
              <mat-form-field class="input-user">
                <input
                  matInput
                  [type]="element.pass"
                  [formControlName]="element.name"
                  [value]="element.password"
                />
              </mat-form-field>
              <a
                style="cursor: pointer"
                (click)="showPass(element)"
                class="p-2 mt-3"
                matSuffix
              >
                <mat-icon>{{
                  element.show ? "visibility" : "visibility_off"
                }}</mat-icon>
              </a>
              <svg
                *ngIf="editable"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                class="mt-6"
                matTooltip="
        - Al menos una mayúscula 
        - 8 caracteres mínimo
        - Al menos un caracter especial
        - Al menos un número
        "
              >
                <path
                  [ngClass]="
                !userForm.get(element.name)!.value || userForm.get(element.name)?.errors?.['hasNumber'] || userForm.get(element.name)?.errors?.['hasSp'] ||  userForm.get(element.name)?.errors?.['minlength'] || userForm.get(element.name)?.errors?.['hasUpper']
                ? ''
                : 'iconFill'
                "
                  d="M10.8653 5.52533L11.8013 6.47533L7.93933 10.28C7.68133 10.538 7.342 10.6667 7.00133 10.6667C6.66067 10.6667 6.318 10.5367 6.05733 10.2767L4.20267 8.47933L5.13133 7.52133L6.99333 9.326L10.8653 5.52533ZM16 8C16 12.4113 12.4113 16 8 16C3.58867 16 0 12.4113 0 8C0 3.58867 3.58867 0 8 0C12.4113 0 16 3.58867 16 8ZM14.6667 8C14.6667 4.324 11.676 1.33333 8 1.33333C4.324 1.33333 1.33333 4.324 1.33333 8C1.33333 11.676 4.324 14.6667 8 14.6667C11.676 14.6667 14.6667 11.676 14.6667 8Z"
                  fill="#B1B2B4"
                />
              </svg>
            </div>
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Estado</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <mat-select
              class="{{ element.isActive }}"
              [ngClass]="editable ? '' : 'select'"
              [disabled]="!editable"
              [(value)]="element.isActive"
            >
              <mat-option value="inactive" class="inactive"
                >Inactivo</mat-option
              >
              <mat-option value="active" class="active">Activo</mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Accion</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              [disabled]="!editable"
              (click)="openDialog(element._id)"
            >
              <mat-icon
                [ngClass]="editable ? 'delete_icon' : 'delete_icon_disabled'"
                >delete</mat-icon
              >
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <div class="flex justify-end">
        <a
          (click)="editableToggle()"
          mat-raised-button
          class="boton justify-self-end mx-8"
        >
          <mat-icon id="icon"> edit_note </mat-icon>
          {{ editable ? "Cancelar" : "Editar Listado" }}
        </a>
        <a
          (click)="guardarCambios(dataSource._data._value)"
          class="justify-self-end"
          mat-raised-button
          [disabled]="password.status === 'INVALID'"
          [ngClass]="password.status === 'INVALID' ? 'boton_disabled' : 'boton'"
          >Guardar Cambios</a
        >
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
