<mat-card class="fondo">
  <mat-card-header><h2 class="titulo">Listado de usuarios</h2></mat-card-header>

  <mat-card-content>
    <div class="card">
      <mat-table matSort [dataSource]="dataSource">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Nombre</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Nombre de usuario</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Email</mat-header-cell
          >
          <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>

        <!-- role Column -->
        <ng-container matColumnDef="role">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Rol</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            {{ element.role.name === "" ? "Unassigned" : element.role.name }}
          </mat-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell mat-sort-header *matHeaderCellDef
            >Estado</mat-header-cell
          >
          <mat-cell *matCellDef="let element">
            {{ element.isActive ? "Active" : "Inactive" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a
              (click)="UpdateUser(element.username)"
              class="m-3"
              mat-raised-button
              color="primary"
              >Update</a
            >
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
