<mat-card>
  <mat-card-header
    ><h2 class="titulo">Elegir una línea de producción</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>Elegir una Linea</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let linea of listLineas"
            [value]="linea._id"
            (click)="[setLinea(linea._id, linea.nombre)]"
          >
            <p>{{ linea.nombre }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header
    ><h2 class="titulo">Ingresar nueva línea</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      <form
        class="example-form"
        [formGroup]="lineaForm"
        (ngSubmit)="createLinea()"
      >
        <div class="grid grid-cols-3 grid-rows-4">
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>nombre</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>descripcion</mat-label>
              <input matInput formControlName="descripcion" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>identificador</mat-label>
              <input matInput formControlName="identificador" />
            </mat-form-field>
          </div>

          <div class="col-span-3 justify-self-end">
            <button
              class="boton"
              mat-raised-button
              [disabled]="
                !lineaForm.value.nombre ||
                !lineaForm.value.descripcion ||
                !lineaForm.value.identificador
              "
            >
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
