.fondo {
  background-color: #fafafa;
  margin: 10vh auto;
}
.titulo {
  color: var(--Azul, #231e46);
  text-align: center;
  font-family: "D-DIN-PRO";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.filtrar {
  height: 50px;
  width: fit-content;
}
.mat-mdc-raised-button:not(:disabled) {
  background-color: #c82d3b;
  color: #fff;
}
#ajustes_icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
#expand_icon {
  width: 24px;
  height: 24px;
  font-size: 28px;

  color: white;
}
.boton_texto {
  margin-top: 25%;
  text-align: center;
  color: #fff;
  font-family: "DIN-PRO";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
::ng-deep .mat-mdc-menu-panel {
  max-width: unset !important;
}
.menu {
  display: flex;
  align-items: center;
}
.d-input {
  display: flex;
  width: 60%;
  height: 50px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid var(--Azul, #231e46);
}
.input-field {
  margin-top: 5px;
  outline: none;
  padding-left: 5px;
  width: 100%;
}

input {
  color: var(--Gris-intermedio, #000000);
  font-family: "DIN";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
select {
  color: var(--Gris-intermedio, #000000);
  font-family: "DIN";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
.boton_wide {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  padding: 16px 9.5px;
  font-family: "D-DIN-PRO";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.subtitulo {
  color: var(--Gris-oscuro, #333);
  font-family: "DIN-PRO";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mat-mdc-card-header {
  display: grid;
}
