<div class="grid grid-flow-row grid-cols-1 sm:grid-cols-1 p-3 fondo">
  <div class="p-3">
    <mat-card>
      <mat-menu [hasBackdrop]="true" #menu="matMenu" class="menu">
        <div
          class="grid grid-cols-2 grid-flow-row sm:grid-cols-2 grid-row-2 gap-4 m-3"
          [formGroup]="range"
          (click)="$event.stopPropagation()"
        >
          <div>
            <h2 class="subtitulo">Desde</h2>
            <div class="d-input">
              <mat-datepicker-toggle [for]="startpicker">
                <mat-icon
                  svgIcon="calendario"
                  class="calendario"
                  matDatepickerToggleIcon
                ></mat-icon>
              </mat-datepicker-toggle>
              <input
                [matDatepicker]="startpicker"
                formControlName="start"
                class="input-field"
                type="date"
              />
            </div>
            <mat-datepicker #startpicker></mat-datepicker>
          </div>
          <div>
            <h2 class="subtitulo">Hasta</h2>
            <div class="d-input">
              <mat-datepicker-toggle [for]="endpicker">
                <mat-icon
                  svgIcon="calendario"
                  class="calendario"
                  matDatepickerToggleIcon
                ></mat-icon>
              </mat-datepicker-toggle>
              <input
                formControlName="end"
                [matDatepicker]="endpicker"
                class="input-field"
                type="date"
                (dateChange)="[setInicio_final(), getValuesByInterval()]"
              />
            </div>
            <mat-datepicker #endpicker></mat-datepicker>
          </div>
          <div class="col-span-2 row-start-2">
            <!-- <button mat-button (click)="range.reset()">Reset</button> -->
            <!-- <button
              mat-raised-button
              (click)="getFiltrados()"
              class="boton_wide"
              [disabled]="!range.value.start || !range.value.end"
            >
              Aplicar
            </button> -->
          </div>
        </div>
      </mat-menu>
      <mat-card-header
        [formGroup]="interval"
        class="grid grid-cols-1 sm:grid-cols-2"
      >
        <mat-card-title>
          <h2 class="titulo">Todas Las variables</h2>
        </mat-card-title>
        <div class="flex flex-row justify-end">
          <div class="d-input px-3">
            <select
              class="input-field"
              #selectMedida
              formControlName="medida"
              (change)="[setValue(selectMedida.value)]"
            >
              <option
                *ngFor="let valor of selectValue"
                value="{{ valor.value }}"
              >
                {{ valor.option }}
              </option>
            </select>
          </div>
          <div class="pl-5">
            <mat-button-toggle-group>
              <mat-button-toggle
                *ngFor="let time of selectTime"
                [value]="time"
                (click)="[setInterval(time), getValuesByInterval()]"
              >
                {{ time.option }}
              </mat-button-toggle>
              <mat-button-toggle [matMenuTriggerFor]="menu">
                <mat-icon
                  svgIcon="calendario"
                  class="calendario"
                  iconPositionEnd
                ></mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <mat-menu #menuTimeout="matMenu">
          <button mat-menu-item *ngFor="let timeOut of selectTimeOut">
            {{ timeOut.option }}
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>
        <canvas id="myChart"></canvas>
        <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-spin-clockwise"
          [fullScreen]="false"
          name="grafico"
        >
        </ngx-spinner>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div
  class="grid grid-flow-row grid-cols-1 justify-end sm:grid-cols-2 p-3 fondo"
>
  <div class="p-3" *ngFor="let chart of chartList; index as i">
    <mat-card>
      <app-toolbar
        [value]="chart"
        [selectValue]="selectValue"
        [selectTime]="selectTime"
        [indice]="i"
      ></app-toolbar>
      <mat-card-content>
        <canvas id="{{ chart.titulo }}"></canvas>
        <ngx-spinner
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="ball-spin-clockwise"
          [fullScreen]="false"
          name="grafico{{ i }}"
        >
        </ngx-spinner>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="p-3">
    <app-tabla></app-tabla>
  </div>
</div>
