<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="empresaForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Empresa</span>
      </div>
    </ng-template>
    <app-empresa-form></app-empresa-form>
  </mat-step>
  <mat-step [stepControl]="plantaForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Planta</span>
      </div>
    </ng-template>
    <app-empresa-planta-form></app-empresa-planta-form>
  </mat-step>
</mat-stepper>
