<mat-card>
  <mat-card-header><h2 class="titulo">Elegir una planta</h2> </mat-card-header>
  <mat-card-content>
    <div>
      <mat-form-field>
        <mat-label>Elegir una planta</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let planta of listPlantas"
            [value]="planta._id"
            (click)="[setPlanta(planta._id, planta.nombre)]"
          >
            <p>{{ planta.nombre }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header
    ><h2 class="titulo">Ingresar nueva planta</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      <form
        [formGroup]="plantaForm"
        (ngSubmit)="createPlanta()"
        (submit)="plantaForm.reset()"
      >
        <div class="grid grid-cols-3 grid-rows-4">
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Calle</mat-label>
              <input matInput formControlName="calle" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Altura</mat-label>
              <input matInput formControlName="altura" />
            </mat-form-field>
          </div>
          <div class="col-span-3 justify-self-end">
            <button
              class="boton"
              mat-raised-button
              [disabled]="
                !plantaForm.value.nombre ||
                !plantaForm.value.calle ||
                !plantaForm.value.altura
              "
            >
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
