<mat-card>
  <mat-card-header>
    <h2>Formulario de Empresa</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Formulario de Plantas de empresa</mat-panel-title>
          </mat-expansion-panel-header>
          <form
            class="example-form"
            [formGroup]="plantaForm"
            (ngSubmit)="createPlanta()"
            (submit)="plantaForm.reset()"
          >
            <mat-form-field class="">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>

            <mat-form-field class="">
              <mat-label>Calle</mat-label>
              <input matInput formControlName="calle" />
            </mat-form-field>
            <mat-form-field class="">
              <mat-label>Altura</mat-label>
              <input matInput formControlName="altura" />
            </mat-form-field>
            <div class="m-1">
              <button class="m-3" mat-raised-button color="primary">
                submit
              </button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="flex flex-col p-3">
      <mat-form-field>
        <mat-label>Elegir una planta</mat-label>
        <mat-select>
          <mat-option
            *ngFor="let planta of listPlantas"
            [value]="planta._id"
            (click)="[setPlanta(planta._id, planta.nombre)]"
          >
            <p>{{ planta.nombre }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button matStepperNext type="button">Siguiente</button>
  </mat-card-content>
</mat-card>
