<mat-card>
  <mat-card-header>
    <h2>Formulario de Empresa</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="plantaForm"
      (ngSubmit)="createPlanta()"
    >
      <div class="flex flex-col">
        <mat-form-field class="">
          <mat-label>Localidad</mat-label>
          <mat-select formControlName="id_localidad">
            <mat-option value="">Elegir una localidad </mat-option>
            <mat-option
              *ngFor="let localidad of listLocalidades"
              [value]="localidad._id"
            >
              <p>{{ localidad.nombre }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Empresa</mat-label>
          <mat-select formControlName="id_empresa">
            <mat-option value="">Elegir una Empresa </mat-option>
            <mat-option
              *ngFor="let empresa of listEmpresas"
              [value]="empresa._id"
            >
              <p>{{ empresa.razon_social }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Calle</mat-label>
          <input matInput formControlName="calle" />
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Altura</mat-label>
          <input matInput formControlName="altura" />
        </mat-form-field>
      </div>
      <div class="m-1">
        <button class="m-3" mat-raised-button color="primary">submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
