<div class="carta flex flex-col p-3">
  <mat-form-field appearance="outline">
    <mat-label>Localidad </mat-label>
    <mat-select [disabled]="!id_provincia">
      <mat-option
        *ngFor="let localidad of listLocalidades"
        [value]="localidad.nombre ? localidad.nombre : localidad"
        (click)="
          [setLocalidad(localidad.nombre ? localidad.nombre : localidad)]
        "
      >
        <p>{{ localidad.nombre ? localidad.nombre : localidad }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
