<mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="paisForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>País</span>
      </div>
    </ng-template>
    <app-pais-form></app-pais-form>
  </mat-step>
  <mat-step [stepControl]="provinciaForm" *ngIf="isPaisCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Provincia</span>
      </div>
    </ng-template>
    <app-provincia-form></app-provincia-form>
  </mat-step>
  <mat-step [stepControl]="localidadForm" *ngIf="isProvinciaCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Localidad</span>
      </div>
    </ng-template>
    <app-localidad-form></app-localidad-form>
  </mat-step>
  <mat-step [stepControl]="empresaForm" *ngIf="isLocalidadCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Empresa</span>
      </div>
    </ng-template>
    <app-empresa-form></app-empresa-form>
  </mat-step>
  <mat-step [stepControl]="plantaForm" *ngIf="isEmpresaCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Planta</span>
      </div>
    </ng-template>
    <app-empresa-planta-form></app-empresa-planta-form>
  </mat-step>

  <mat-step [stepControl]="lineaProduccionForm" *ngIf="isPlantaCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span
          >Linea de produccion
        </span>
      </div>
    </ng-template>
    <app-linea-produccion-form></app-linea-produccion-form>
  </mat-step>
  <mat-step [stepControl]="tipoMaquinaForm" *ngIf="isLineaProduccionCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Tipo de maquina </span>
      </div>
    </ng-template>
    <app-tipo-maquina-form></app-tipo-maquina-form>
  </mat-step>
  <mat-step [stepControl]="maquinaForm" *ngIf="isTipoMaquinaCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Maquina</span>
      </div>
    </ng-template>
    <app-maquina-form></app-maquina-form>
  </mat-step>
  <mat-step [stepControl]="maquinaForm" *ngIf="isMaquinaCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Proceso</span>
      </div>
    </ng-template>
    <app-proceso-form></app-proceso-form>
  </mat-step>
  <mat-step [stepControl]="maquinaForm" *ngIf="isProcesoCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Trigger</span>
      </div>
    </ng-template>
    <app-trigger-form></app-trigger-form>
  </mat-step>
  <mat-step [stepControl]="maquinaForm" *ngIf="isTriggerCompleted">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Variable</span>
      </div>
    </ng-template>
    <app-variable-form></app-variable-form>
  </mat-step>
</mat-stepper>
