<div class="p-3 fondo">
  <mat-card>
    <mat-card-header>
      <div class="grid grid-cols-6 grid-rows-2 gap-1 m-6">
        <div class="col-span-5">
          <mat-progress-bar
            mode="determinate"
            [value]="(selected.value ? selected.value : 0) * 12.5"
          ></mat-progress-bar>
        </div>
        <div class="col-start-6 justify-self-end">
          <p>{{ selected.value ? selected.value + 1 : 1 }} / 9</p>
        </div>
        <div class="row-start-2">
          <h2>{{ tituloTabs[selected.value || 0] }}</h2>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group
        class="invisible-tabs"
        [selectedIndex]="selected.value"
        (selectedIndexChange)="selected.setValue($event)"
      >
        <mat-tab>
          <app-pais-form></app-pais-form>
          <app-provincia-form></app-provincia-form>
          <app-departamentos></app-departamentos>
          <app-localidad-form></app-localidad-form>
        </mat-tab>
        <mat-tab>
          <app-empresa-form></app-empresa-form>
        </mat-tab>
        <mat-tab>
          <app-empresa-planta-form></app-empresa-planta-form>
        </mat-tab>
        <mat-tab>
          <app-linea-produccion-form></app-linea-produccion-form>
        </mat-tab>
        <mat-tab>
          <app-tipo-maquina-form></app-tipo-maquina-form>
        </mat-tab>
        <mat-tab>
          <app-maquina-form></app-maquina-form>
        </mat-tab>
        <mat-tab>
          <app-proceso-form></app-proceso-form>
        </mat-tab>
        <mat-tab>
          <app-trigger-form></app-trigger-form>
        </mat-tab>
        <mat-tab><app-variable-form></app-variable-form></mat-tab>
      </mat-tab-group>

      <div class="flex justify-between">
        <button
          class="boton"
          mat-raised-button
          [disabled]="!selected.value"
          (click)="backButton()"
        >
          Atrás
        </button>
        <button
          class="boton"
          mat-raised-button
          [disabled]="!completed || selected.value == 8"
          (click)="nextButton()"
        >
          Siguiente
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
