<mat-card>
  <mat-card-header><h2 class="titulo">Elegir una máquina</h2> </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col p-3">
      <mat-form-field>
        <mat-label>Elegir una maquina</mat-label>
        <mat-select>
          <div class="flex flex-col p-5" *ngFor="let maquina of listMaquinas">
            <mat-option
              [value]="maquina._id"
              (click)="
                [
                  setMaquina(maquina._id, maquina.nombre),
                  StreamMaquinaSelected(maquina._id)
                ]
              "
            >
              <p>{{ maquina.nombre }}</p>
            </mat-option>
            <mat-divider></mat-divider>
            <p>
              {{ maquina.detalle }}
            </p>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header
    ><h2 class="titulo">Ingresar una nueva máquina</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col">
      <form
        class="example-form"
        [formGroup]="maquinaForm"
        (ngSubmit)="createMaquina()"
        (submit)="maquinaForm.reset()"
      >
        <div class="grid grid-cols-3 grid-rows-5">
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Marca</mat-label>
              <input matInput formControlName="marca" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Modelo</mat-label>
              <input matInput formControlName="modelo" />
            </mat-form-field>
          </div>
          <div class="col-span-3">
            <mat-form-field class="">
              <mat-label>Detalle</mat-label>
              <input matInput formControlName="detalle" />
            </mat-form-field>
          </div>

          <div class="col-span-3 justify-self-end">
            <button
              class="boton"
              mat-raised-button
              [disabled]="
                !maquinaForm.value.nombre ||
                !maquinaForm.value.marca ||
                !maquinaForm.value.modelo ||
                !maquinaForm.value.detalle
              "
            >
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
