<mat-card class="carta">
  <mat-card-header>
    <h2>Formulario de Provincia</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="flex flex-col p-3">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> Formulario de provincias </mat-panel-title>
          </mat-expansion-panel-header>
          <form
            class="example-form"
            [formGroup]="provinciaForm"
            (ngSubmit)="createProvincia()"
            (submit)="provinciaForm.reset()"
          >
            <mat-form-field class="">
              <mat-label>Nombre de provincia</mat-label>
              <input matInput formControlName="nombre" />
            </mat-form-field>

            <div class="m-1">
              <button class="m-3" mat-raised-button color="primary">
                Enviar
              </button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="flex flex-col p-3">
      <mat-form-field>
        <mat-label>Elegir una Provincia</mat-label>

        <mat-select>
          <mat-option
            *ngFor="let provincia of listProvinciasPais"
            [value]="provincia._id"
            (click)="[setProvincia(provincia._id, provincia.nombre)]"
          >
            <p>{{ provincia.nombre }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button matStepperNext type="button">Siguiente</button>
  </mat-card-content>
</mat-card>
