<div class="carta flex flex-col p-3">
  <mat-form-field appearance="outline">
    <mat-label>Provincia</mat-label>

    <mat-select>
      <mat-option
        *ngFor="let provincia of listProvinciasPais"
        [value]="provincia.name ? provincia.name : provincia.nombre"
        (click)="
          [setProvincia(provincia.name ? provincia.name : provincia.nombre)]
        "
      >
        <p>{{ provincia.name ? provincia.name : provincia.nombre }}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
