<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="tipoMaquinaForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Tipo de maquina</span>
      </div>
    </ng-template>
    <app-tipo-maquina-form></app-tipo-maquina-form>
  </mat-step>

  <mat-step [stepControl]="lineaForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span
          >Linea de produccion</span
        >
      </div>
    </ng-template>
    <app-linea-produccion-form></app-linea-produccion-form>
  </mat-step>

  <mat-step [stepControl]="maquinaForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Maquina</span>
      </div>
    </ng-template>
    <app-maquina-form></app-maquina-form>
  </mat-step>
</mat-stepper>
