<mat-card class="mat-elevation-z8 carta">
  <div>
    <mat-card-header class="flex justify-between">
      <h2 class="titulo">Alerta de valores excedidos</h2>
      <button
        [disabled]="exceedList.length == 0"
        mat-icon-button
        (click)="downloadCSV()"
      >
        <mat-icon class="icono">download</mat-icon>
      </button>
    </mat-card-header>
  </div>

  <mat-card-content>
    <div
      class="grid grid-cols-2 grid-flow-row sm:grid-cols-2 grid-row-2 gap-4 m-3"
    >
      <div class="flex flex-row mb-5" [formGroup]="valor">
        <div class="flex flex-col">
          <label for="valor_limite" class="subtitulo">Valor límite</label>
          <input
            id="valor_limite"
            class="d-input mr-2"
            formControlName="threshold"
          />
        </div>
        <div class="flex flex-col">
          <label for="selec_variable" class="subtitulo">Elegir variable</label>
          <select
            class="select d-input mr-2"
            id="select_variable"
            (change)="variableSelected($event)"
          >
            <option
              *ngFor="let variable of listVariables"
              value="{{ variable._id }}"
            >
              {{ variable.nombre }}
            </option>
          </select>
        </div>

        <button
          class="boton mt-4"
          mat-raised-button
          (click)="getInRangeTabla(id_variable)"
          [disabled]="!range[0] || !range[1]"
        >
          Aplicar
        </button>
      </div>
    </div>

    <table mat-table matSort [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="exceed_value">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Valor Excedido
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.valor_lectura.toFixed(2) }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tiempo_inicio">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Tiempo de inicio
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.time_stamp }}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="tiempo_fin">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Tiempo de fin</th>
        <td mat-cell *matCellDef="let element">
          {{ element.cTime_stamp }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="diferencia">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          Diferencia en tiempo
        </th>
        <td mat-cell *matCellDef="let element">{{ element.time }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-spin-clockwise"
      [fullScreen]="false"
      name="tabla"
    >
    </ngx-spinner>
  </mat-card-content>
</mat-card>
