<mat-card class="mat-elevation-z8 carta">
  <div>
    <mat-card-header class="flex justify-between">
      <h2 class="titulo">Alerta de valores excedidos</h2>
      <button
        [disabled]="exceedList.length == 0"
        mat-icon-button
        (click)="downloadCSV()"
        matTooltip="Descargar Informe"
      >
        <mat-icon class="icono">download</mat-icon>
      </button>
    </mat-card-header>
  </div>

  <mat-card-content>
    <div
      class="grid justify-content-stretch grid-cols-1 sm:grid-cols-2"
      [formGroup]="valor"
    >
      <div class="">
        <label for="valor_limite" class="subtitulo">Valor límite</label>
        <input
          id="valor_limite"
          class="d-input mr-2"
          formControlName="threshold"
        />
      </div>
      <div class="">
        <label for="selec_variable" class="subtitulo">Elegir variable</label>
        <select
          class="select d-input mr-2"
          id="select_variable"
          (change)="variableSelected($event)"
        >
          <option
            *ngFor="let variable of listVariables"
            value="{{ variable._id }}"
          >
            {{ variable.nombre }}
          </option>
        </select>
      </div>
      <button
        class="boton mt-4"
        mat-raised-button
        (click)="getInRangeTabla(id_variable)"
        [disabled]="!range[0] || !range[1]"
      >
        Aplicar
      </button>
    </div>

    <mat-table matSort [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="exceed_value">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          Valor Excedido
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.valor_lectura.toFixed(2) }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tiempo_inicio">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          Tiempo de inicio
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.time_stamp }}
        </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="tiempo_fin">
        <mat-header-cell mat-sort-header *matHeaderCellDef
          >Tiempo de fin</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.cTime_stamp }}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="diferencia">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          Diferencia en tiempo
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.time }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="ball-spin-clockwise"
      [fullScreen]="false"
      name="tabla"
    >
    </ngx-spinner>
  </mat-card-content>
</mat-card>
