<mat-card>
  <mat-card-header>
    <h2>Registro</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="registerform"
      (ngSubmit)="proceedRegistration()"
    >
      <div class="flex flex-col">
        <mat-form-field class="">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div class="m-1">
        <button class="m-3" mat-raised-button color="primary">submit</button>
        <a routerLink="/login" mat-raised-button color="accent"
          >Back to login screen</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
