<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="procesoForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Procesos</span>
      </div>
    </ng-template>
    <app-proceso-form></app-proceso-form>
  </mat-step>

  <mat-step [stepControl]="triggerForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Trigger</span>
      </div>
    </ng-template>
    <app-trigger-form></app-trigger-form>
  </mat-step>

  <mat-step [stepControl]="variableForm">
    <ng-template matStepLabel>
      <div class="text-center">
        <mat-icon>queue_play_next</mat-icon><br /><span>Variables</span>
      </div>
    </ng-template>
    <app-variable-form></app-variable-form>
  </mat-step>
</mat-stepper>
