<mat-card>
  <mat-card-header>
    <h2>Formulario de país</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="paisForm" (ngSubmit)="createPais()">
      <div class="flex flex-col">
        <mat-form-field class="">
          <mat-label>Nombre de pais</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>
      </div>

      <div>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title> Lista de paises </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list" *ngFor="let pais of listPaises">
              <mat-list-item role="listitem"> {{ pais.nombre }}</mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="m-1">
        <button class="m-3" mat-raised-button color="primary">submit</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
